.conteiner{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
}

.background{
    backdrop-filter: blur(2px);
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.111);
    z-index: 2;
}

.position_form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    width: 540px;
    border-radius: 12px;
    padding: 0 0 10px 0;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.514);
    background-color: white;

    z-index: 3;

    &__header{
        height: 54px;
        padding: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            font-size: 28px;
        }
    }

    &__body{
        height: calc(100% - 54px);
        padding: 0 25px 0 25px;
    }

    &__user{
        display: flex;
    }

    &__userData{

        margin-left: 10px;

        h1{
            font-size: 18px;
        }
        h2{
            font-size: 16px;
            font-weight: 500;
            margin-top: 10px;
        }
    }

    &__text{

    }

    &__inputBar{
        margin-top: 20px;
        display: flex;
        gap:10px;
        align-items: center;
    }

    &__add{
        margin-top: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &_left{
            display: flex;
            gap: 18px;
        }

        input{
            display: none;
        }
    }
}