@keyframes start{
    0%{
        opacity: 0%;
    }100%{
        opacity: 100%;
    }
}

.conteiner{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header{
    width: 100%;
}

.main{
    animation: start 500ms ease-in-out 0s 1;
    width: 1200px;
    margin: 40px 0;

    &__listCatBar{
        h1{
            font-size: 28px;
        }
    }

    &__catNav{
        display: flex;
        justify-content: space-between;
    }

    &__catBtn{
        display: flex;
        gap: 30px;
    }

    &__listCategories{
        display: flex;
        margin-top: 25px;

        overflow: hidden;
        overflow-x: auto;
        gap: 20px;
        scroll-behavior: smooth;

        &::-webkit-scrollbar {
            display: none;
        }
    }

    &__row{
        margin-top: 60px;

        h1{
            font-size: 40px;
        }
    }

    &__rowHeader{
        display: flex;
        justify-content: space-between;
    }

    &__rowItem{
        margin-top: 25px;
        display: flex;
        justify-content: space-between;
    }

    &__item{
        background-color: rgb(243, 244, 246);
        padding: 20px;
        border-radius: 20px;
        display: flex;

        &:hover{
            background-color: rgb(232, 233, 235);
            transition: all 250ms ease-out;
        }
    }

    &__dataCompany{
        margin-left: 20px;

        h1{
            font-size: 28px;
        }
        h3{
            font-size: 12px;
            margin-top: 10px;
        }
    }

    &__rating{
        display: flex;
        align-items: center;
        margin-top: 40px;

        h2{
            margin-left: 10px;
            font-weight: 500;
        }

        h2:nth-of-type(2){
            margin-left: 5px;
            color: rgb(144, 149, 161);
            font-size: 16px;
            font-weight: 500;
        }
    }

    &__getStarted{
        padding: 150px 0;
    }

    &__formGetStarted{
        height: 270px;
        width: 100%;

        background-color: rgb(44, 89, 72);
        border-radius: 24px;

        padding: 60px 50px;

        h1{
            color: white;
            font-size: 36px;
        }

        h2{
            color: white;
            font-size: 24px;
            margin-top: 20px;
        }
    }

    &__formInputBar{
        margin-top: 30px;
    }
}

.footer{
    width: 100%;
    height: 250px;
    background-color: rgb(40, 40, 30);
}

.button{
    height: 55px;
    background-color: rgba(255, 255, 255, 0);
    padding: 0 25px;

    border: 2px solid rgb(222, 225, 230);
    border-radius: 12px;

    color: rgb(23, 26, 31);
    font-size: 14px;
    font-weight: 500;
    white-space: nowrap;

    &:hover{
        background-color: rgba(0, 0, 0, 0.052);
        transition: all 250ms;
    }
}

.button_2{
    height: 40px;
    width: 40px;
    background: none;
    border-radius: 50%;
    border: 3px solid rgb(99, 106, 232);

    display: flex;
    justify-content: center;
    align-items: center;
    
    &:hover{
        transition: all 250ms ease-out;
        background-color: rgba(99, 106, 232, 0.222);  
    }

    
}