.conteiner{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    z-index: 3;
}

.background{
    backdrop-filter: blur(2px);
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.111);
    z-index: 2;
}

.position_form{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form{
    height: 425px;
    width: 540px;
    border-radius: 12px;

    box-shadow: 0 0 30px rgba(0, 0, 0, 0.514);
    background-color: white;

    z-index: 3;

    &__img{
        height: 150px;
        width: 150px;
        background-color: rgb(174, 174, 174);
        border-radius: 24px;
    }

    &__header{
        height: 54px;
        padding: 7px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            font-size: 28px;
        }
    }

    &__body{
        padding: 0 25px 25px 25px;
    }

    &__companyData{
        display: flex;
        align-items: center;
    }

    &__companyAbout{
        margin-top: 20px;
    }

    &__input{
        height: 100%;
        width: 100%;
        margin-left: 35px;

        display: flex;
        flex-direction: column;
    }

    &__inputBar{
        margin-top: 10px;
    }

    &__ava{
        position: relative;
    }

    &__buttonAva{
        position: absolute;
        top: calc(50% - 15px);
        left: calc(50% - 15px);

        input{
            display: none;
        }
    }
}