.conteiner{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;

    background-color: #fff7e5;

    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    height: 550px;
    width: 700px;
    z-index: 1;

    background-color: white;
    overflow: hidden;

    border-radius: 16px;

    display: flex;
    color: #171a1f;

    &__right{
        width: 40%;
        height: 100%;
        background: url('../../assets/image/image.jpg') 50% 50%;
        background-size: cover;
    }

    &__center{
        width: calc(100% - 40px - 40%);
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            margin-top: 30px;
            font-size: 48px;
        }

        h2{
            margin-top: 5px;
            font-size: 24px;
            font-weight: 500;
            margin-bottom: 10px;
            a{
                color: #636AE8;
                &:hover{
                    text-decoration:underline;
                }
            }

            &::after{
                content: "";
                display: block;
                width: 80%;
                height: 2px;
                background: #bdc1ca;
                margin: 15px auto 0;
            }
        }

        & h2:nth-of-type(2){
            margin-top: 15px;
            &::after{
                content: "";
                display: block;
                width: 80%;
                height: 2px;
                background: #bdc1ca;
                margin: 5px auto 0;
            }
        }
    }

    &__left{
        width: 40px;
        display: flex;
        justify-content: center;
        padding: 5px 0 0 0;
    }

    &__inputBar{
        margin-top: 10px;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__buttonBar{
        margin-top: 15px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    &__buttonFlexBar{
        width: 70%;
        display: flex;
        justify-content: center;
    }

    &__VisibleBar{
        position: absolute;
        left: 102%
    }
}

.shape1{
    position: absolute;
    height: 60vh;
    width: 60vh;
    background-color: #f5bcce;
    border-radius: 50%;
    z-index: 0;
    left: 80vw;
    bottom: 60vh;
}

.shape2{
    position: absolute;
    height: 55vh;
    width: 55vh;
    background-color: #fbe0e8;
    border-radius: 50%;
    z-index: 0;
    left: -5vw;
    top: 75vh;
}

.shape3{
    position: absolute;
    height: 30vh;
    width: 30vh;
    background-color: #bcbff5;
    border-radius: 40px;
    z-index: 0;
    left: 8vw;
    bottom: 55vh;
    rotate: 35deg;
}

.shape4{
    position: absolute;
    height: 35vh;
    width: 35vh;
    background-color: #e0e1fa;
    border-radius: 40px;
    z-index: 0;
    left: 87vw;
    top: 73vh;
    rotate: 325deg;
}