.list{
    margin-top: 20px;
}

.item{
    width: 95%;
    height: auto;
    padding: 20px;
    margin-bottom: 20px;

    border: 2px solid rgb(222, 225, 230);
    border-radius: 16px;
    
    &__company{
        display: flex;
        margin-bottom: 10px;
        justify-content: space-between;

        div{
            display: flex;
        }
    }

    &__companyData{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin-left: 10px;

        h3{
            font-size: 24px;
        }

        p{
            font-size: 14px;
        }
    }

    &__userData{
        display: flex;
        margin-bottom: 10px;

        h3{
            font-size: 20px;
            display: inline-block;
        }

        h4{
            line-height: 24px;
            font-size: 16px;
            font-weight: 400;
        }

        p{
            margin-left: 15px;
            font-size: 14px;
            line-height: 24px;
            display: inline-block;
        }
    }

    &__userBar{
        margin-left: 10px;
    }

    &__body{

        margin: 10px 0;
        width: 90%;

        h1{
            font-size: 20px;
        }

        h3{
            margin-top: 10px;
            font-size: 20px;
            font-weight: 400;
            word-break: break-word;
            line-height: 1.5;
        }
    }

    &__nav{
        margin-top: 10px;
        display: flex;
        gap: 40px;
    }

    &__img{
        display: flex;
        justify-content: center;
        margin: 20px 0;
        border-radius: 30px;
    }

    &__buttonBar{
        display: flex;
        align-items: center;

        p{
            font-size: 16px;
            color: rgb(23, 26, 31);
            margin-left: 5px;
        }
    }
}